<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/login.css" />
    <title>login</title>
    <script src="../js/index.js"></script>
  </head>
  <body>
    <form class="login">
      <h1 style="color: rgb(136, 200, 245); text-align: center">Login</h1>

      <!-- <label>NAME:</label> -->
      <input type="text" id="name" placeholder="User Name" />
      <!-- <label>Email:</label> -->
      <input type="password" id="email" placeholder="Password" />
      <button type="button" onclick="Submitform()">Login</button>
    </form>
  </body>
</html>
