<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/register.css" rel="stylesheet" />
    <script src="../js/index.js"></script>

  <title>Register Form</title>
</head>
  <body>
    <form>
      <h1 style="color: rgb(136, 200, 245); text-align: center">Register</h1>

      <label></label> First name:</label>
      <input type="text" placeholder="Enter your first name" />
      <label>Last name:</label>
      <input type="text" placeholder="Enter your last name" />

      <label>Email:</label>
      <input type="email" placeholder="Enter your email" />

      <label>Date Of Birth:</label>
      <input type="date" />

      <label>Password:</label>
      <input type="password" placeholder="Enter your Password" />

      <label>RE-type Password:</label>
      <input type="password" placeholder="RE-Enter Password " />
      <label>Contact:</label>
      <input type="number" placeholder="Enter your Contact" />
      <label>Gender:</label>
      <select name="cars" id="cars">
        <option value="opel">Male</option>
        <option value="audi">Female</option></select
      ><br /><br />
      <input type="Submit" onclick="Submit()">
    </form>
  </body>
</html>
