body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  background-color: #f4f9ff;
}
.navbar {
  display: flex;
  flex-direction: column; /* Stack items vertically on small screens */
  background-color: #4da6ff;
  color: white;
  padding: 10px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.container h1 {
  margin: 0;
  font-size: 24px;
  white-space: nowrap;

}

.auth-box {
  display: flex;
  align-items: center;
}

.toggle-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* Allow items to wrap */
}

.toggle-btn {
  flex-grow: 1; /* Allow buttons to grow equally */
  padding: 10px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  max-width: 150px; /* Limit maximum width */
}

.toggle-btn.active {
  background-color: #007bff;
  color: white;
}
.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 80px;
}
.video-container {
  width: 100%;
  /* Add box around video container */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
  padding: 60px; /* Add padding inside the container */
  margin-bottom: 20px; /* Add margin to separate from other elements */
  animation: fly-in 1s ease-out forwards;
}
.button-box {
  width: 100%; /* Take full width on small screens */
  margin-top: 80px;
  padding-left: 140px; /* Add margin between video and buttons */
  animation: fly-in 1s ease-out forwards; /* Add animation to the button box */
}

button {
  width: 100%; /* Take full width on small screens */
  padding: 40px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: none;
  border-radius: 10px;
  max-width: 350px;
  font-size: 30px;
  animation: fly-in 1s ease-out forwards; /* Add animation to the buttons */
}

button:hover {
  background-color: #dcdcdc;
}

button:active {
  background-color: #bfbfbf;
}

.steps {
  margin-top: 20px;
  width: 100%; /* Take full width on small screens */
  text-align: center; /* Center steps text */
}

.steps h2 {
  font-size: 20px;
}

.steps ol {
  padding-left: 0;
}

.steps li {
  font-size: 16px;
}

@keyframes fly-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.video-container iframe {
  width: 100%;
  height: 250px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 10px;
  float: left;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

@media screen and (min-width: 768px) {
  .navbar {
    flex-direction: row; /* Display items horizontally on larger screens */
    justify-content: space-between;
    align-items: center;
    height: 80px; /* Reset height for larger screens */
  }

  .container {
    flex-direction: row;
    align-items: center;
  }

  .container h1 {
    margin-right: 0px; /* Reset margin for small screens */
    margin-bottom: 10px; /* Add margin between headings */
  }

  .toggle-btn {
    max-width: none; /* Reset max-width on larger screens */
  }

  .toggle-buttons {
    flex-grow: 1; /* Allow buttons to grow equally */
  }

  .containers {
    flex-direction: row;
    align-items: center;
  }

  .video-container {
    width: 60%;
    margin-right: 20px; /* Add margin between video and buttons on large screens */
  }

  .button-box {
    width: 30%;
    margin-top: 0; 
    margin-left: 20px; /* Add margin between video and buttons */
    /* Reset margin on large screens */
  }
}